html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: "EB Garamond", "Arial", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    color: #000000;
    background-color:#FFFFFF;
}

img{
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1390px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.nav-container {
    display: flex;
    flex-direction: column;
    max-width: 1390px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.nav {
    position: fixed;
    display: flex;
    width: 250px;
    height: 100vh;
    background-color: #f3f3f3;
}

.right-section {
    width: calc(100% - 250px);
    margin-left: 250px;
}

.promo {
    height: 100vh;
    padding-top: 150px;
    padding-bottom: 100px;
    padding-left: 100px;
    background-image: url("/images/promo-bg.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 55%;
}

.promo-content {
    display: flex;
    flex-direction: column;
}

.promo-title {
    font-size: 52px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 12px;
}

.promo-info {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 28px;
    color: #0f0f27;
}

.promo-create {
    position: relative;
    align-self: flex-start;
    display: block;
    padding: 8px 18px;
    background-color: #07073a;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    margin-left: 11px;
    text-decoration: none;
}

.promo-create:hover {
    background-color: #16166d;
}

.promo-create:active {
    opacity: 0.6;
}

.promo-create:focus {
    outline: 0;
}

.promo-create::after {
    position: absolute;
    top: -10px;
    bottom: -10px;
    right: -10px;
    left: -10px;
    content: '';
    display: block;
    border: 1px dashed #07073a;
    border-radius: 5px;
}

.logo-link {
    display: block;
}

.logo {
    display: block;
}

.nav-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nav-item {
    margin-bottom: 8px;
}

.nav-link {
    display: block;
    padding: 6px 18px;
    text-decoration: none;
    color: #07073a;
}

.nav-link:hover {
    background-color: #e7e7e7;
}

.nav-link:active {
    opacity: 0.6;
}

.nav-bottom {
    display: flex;
    flex-direction: column;
    padding: 16px 12px;
}

.copyright {
    font-size: 16px;
    margin-bottom: 8px;
}

.wt-cw {
    font-size: 14px;
}

.form-section {
    text-align: center;
    padding-top: 50px;
}

.form-heading {
    color: #18904a;
    font-size: 46px;
    margin-top: 0;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    bottom: 30px;
}

.form-title, .form-textarea, .form-file {
    margin-bottom: 24px;
    border: 1px dashed #07073a;
}

.form-title::placeholder, .form-textarea::placeholder, .form-file::placeholder {
    padding: 5px 10px;
    color: #ccc;
    font-size: 16px;
}

.form-title:focus, .form-textarea:focus, .form-file:focus {
    outline: 0;
}

.form-textarea {
    max-width: 700px;
    width: auto;
    max-height: 250px;
}

.form-submit-btn {
    display: block;
    padding: 10px 30px;
    border: none;
    background-color: #07073a;
    color: #f3f3f3;
    cursor: pointer;
}

.form-submit-btn:focus {
    outline: 0;
}

.posts-section {
    padding-top: 50px;
}

.posts {
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-left: 30px;
}

.posts-item {
    margin-bottom: 25px;
}

.posts-heading {
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    color: #07073a;
}

.post-links {
    margin-top: 12px;
}

.post-links a {
    padding: 3px 10px;
    color: #f3f3f3;
    text-decoration: none;
    border-radius: 4px;
}

.post-read {
    background-color: #07073a;
}

.post-delete {
    background-color: #aa0606;
}
.post-fav {
    background-color: #18904a;
}

@media only screen and (max-width: 950px) {
    .promo {
        background-size: 50%;
    }
    
    .promo-title {
        font-size: 46px;
    }
    
    .promo-info {
        font-size: 20px;
    }
    
    .promo-create {
        margin-left: 0;
    }
    
    .promo-create::after {
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    .right-section {
        margin-top: 70px;
        margin-left: 0;
        width: 100%;
    }
    
    .promo {
        width: 100%;
        padding-left: 20px;
        padding-top: 100px;
    }
    
    .nav {
        width: 100%;
        height: auto;
        padding: 20px 0;
    }
    
    .nav-container {
        width: 750px;
        padding: 0 20px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .nav-bottom {
        display: none;
    }
    
    .logo-link {
        margin-right: 30px;
    }
    
    .logo {
        margin-top: -40px;
        margin-bottom: -60px;
        margin-left: -30px;
        margin-right: -30px;
    }
    
    .nav-list {
        display: flex;
        justify-content: flex-end;
    }
    
    .nav-link {
        white-space: nowrap;
    }
    
    .nav-link:hover {
        background-color: transparent;
        color: #18904a;
    }
    
    .promo-title {
        font-size: 42px;
    }
    
    .promo-info {
        font-size: 19px;
    }
}

@media only screen and (max-width: 650px) {
    .nav-list {
        width: 200px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .nav-item {
        margin-right: 10px;
        margin-left: 10px;
    }

    .nav-link {
        padding: 0;
    }

    .poromo {
        background-size: 100%;
    }
}

@media only screen and (max-width: 450px) {
    .nav-list {
        width: 180px;
    }

    .nav-link {
        font-size: 16px;
    }
    
    .promo-title {
        font-size: 36px;
    }
    
    .promo-info {
        font-size: 16px;
    }
}